<div class="container mt-5">
  <div class="row">
    <div class="col">
      <form class="" action="/recipe" method="post" enctype="multipart/form-data">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="title">Cím</label>
              <input class="form-control" type="text" name="title" value="">
            </div>
            <div class="form-group">
              <label for="type">Típus</label>
              <select class="form-control" name="type">
                <option value="0">Előétel</option>
                <option value="1">Főétel</option>
                <option value="2">Köretek</option>
                <option value="3">Sütemények</option>
              </select>
            </div>
            <div class="form-group">
              <label for="picture">Kép</label><br>
              <input type="file" name="picture" value="">
            </div>
            <div class="form-group">
              <label for="description">Leírás</label>
              <textarea class="form-control" name="description" rows="8" cols="80"></textarea>
            </div>
            <input class="form-control btn btn-success" type="submit" value="Mentés" />
          </div>
          <div class="col">
            <div class="form-group">
              <label for="">Hozzávalók</label>
              <input class="form-control" type="text" name="ingredient-1" value="">
            </div>
            <button id="plus-ingredient" class="btn btn-warning form-control" type="button" name="button">+</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(() => {
    var i = 2;

    $('#plus-ingredient').click(() => {
      $('<div class="form-group"><input class="form-control" type="text" name="ingredient-'+i+'" value=""></div>').insertBefore($('#plus-ingredient'));
      i++;
    });
  });
</script>
